* {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
  }
  
  .box {
    position: relative;
    width: 350px;
    margin: 10px auto;
    text-align: center;
    padding: 30px 15px;
    border-radius: 18px;
    box-shadow: 0 4px 8px 0 #dfdfdf28;
    overflow: hidden;
  }
  
  .circle {
    position: absolute;
    width: 250px;
    height: 250px;
    content: "";
    z-index: -11;
    border-radius: 50%;
    animation-name: moveArround;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform: 0.6s ease-in-out;
  }
  @keyframes moveArround {
    0% {
      top: 0;
      left: 0;
      background-color: #1392a5;
    }
    25% {
      top: 0;
      left: 100px;
      background-color: #3e0144;
    }
  
    50% {
      top: 100px;
      left: 100px;
      background-color: #cc0558;
      transform: scale(0.7);
    }
    75% {
      top: 100px;
      left: 0px;
      background-color: #007e1f;
    }
    100% {
      left: 0;
      top: 0;
      background-color: #6823e7;
    }
  }
  
  .box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    image-rendering: optimizeQuality;
    filter: grayscale(50);
    box-shadow: 0 7px 14px 0 #9494945e;
  }
  
  .box .glass {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(40px);
    background-clip: padding-box;
    z-index: -1;
  }
  
  .box h2 {
    color: #181616;
    line-height: 2;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .box .work {
    color: #2e2e2e;
    font-weight: 600;
  }
  .box .brief {
    width: 90%;
    margin: 15px auto;
    color: #8d8d8d;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
  }
  